<!DOCTYPE html>
@using Microsoft.AspNetCore.Http;

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication26</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  
</head>
<body style="background-color:black;margin: 0px 15px 58px 25px;">
    <header>


        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar  border-bottom box-shadow mb-3 p-0" style="background-color: #e44157;border-radius: 14px;">
            <div class="ml-5 mr-5 ">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ">

                    <ul class="navbar-nav flex-grow-1">
                        @if(@Context.Session.GetString("Type") != "1")
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light  text-wrap text-uppercase h1 navigation" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        }
                        @if (@Context.Session.GetString("Type") == "1")
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light  text-wrap text-uppercase h1 navigation" asp-area="" asp-controller="StudentDetails" asp-action="Myprofilee">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light  text-wrap text-uppercase h1 navigation" asp-controller="StudentDetails" asp-action="Edit">Edit Profile</a>
                        </li>
                        }
                        @if (@Context.Session.GetString("Type") == "3")
                        {

                        <li class="nav-item">
                            <a class="nav-link text-light   text-wrap text-uppercase h1 navigation" asp-area="" asp-controller="AdminDetails" asp-action="Index">Admin Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light   text-wrap text-uppercase h1 navigation" asp-area="" asp-controller="MstRoles" asp-action="Index">Roles</a>
                        </li>
                        }
                        @if ((@Context.Session.GetString("Type") == "2")||(@Context.Session.GetString("Type") == "1"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light   text-wrap text-uppercase h1 navigation" asp-area="" asp-controller="AttendanceDetails" asp-action="Index">Attendance Details</a>
                        </li>
                        }
                        @if ((@Context.Session.GetString("Type") == "2")||(@Context.Session.GetString("Type") == "3"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light   text-wrap text-uppercase h1 navigation" asp-area="" asp-controller="FacultyDetails" asp-action="Index">Faculty Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light   text-wrap text-uppercase h1 navigation" asp-area="" asp-controller="MstDepartments" asp-action="Index">Departments</a>
                        </li>
                        }
                        @if (@Context.Session.GetString("Type") == "2")
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light  text-wrap text-uppercase h1 navigation" asp-area="" asp-controller="MarksDetails" asp-action="Index">Marks Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light   text-wrap text-uppercase h1 navigation" asp-area="" asp-controller="MstSubjects" asp-action="Index">Subjects</a>
                        </li>
                        }
                        @if (@Context.Session.GetString("Type") !=null)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light   text-wrap text-uppercase h1 navigation" asp-area="" asp-controller="StudentDetails" asp-action="Index">Student Details</a>
                        </li>
                        }

                        @*@if ((@Context.Session.GetString("Type") == "2")||(@Context.Session.GetString("Type") == "3"))
        {
        <li class="nav-item">
            <a class="nav-link text-light badge badge-primary text-wrap text-uppercase h1 navigation" asp-area="" asp-controller="MstSemesters" asp-action="Index">MstSemesters</a><br />
        </li>
        }*@
                        @if (@Context.Session.GetString("Type") == "3")
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light
                               text-wrap text-uppercase h1 navigation" asp-area="" asp-controller="MstUsers" asp-action="Index">User</a>
                        </li>
                        }


                        @if (@Context.Session.GetString("Type") !=null)
                        {
                        <button class="logout" onclick="location.href='@Url.Action("Logout", "Login")'">Logout</button>
                    }

                    </ul>
                    
                      
                    
                </div>
                  
            
                        
            </div>



        </nav>

    </header>
    <div style="background-color:aliceblue;margin:25px">
        <main role="main" class=" text-dark">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;  MANAS <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
